<div class="container">

   <h2 class="text-secondary"> Yoga Poses for Expert</h2>

   <div class="box-container">

      <div class="box">
         <div class="image">
          <a href="/static/beginner/pose_1.html">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/static/beginner/pose_2.html">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_2.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_2.jpg" alt="">
          </a>
         </div>
      </div>

       <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>

        <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>

        <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>

        <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_3.jpg" alt="">
          </a>
         </div>
      </div>



   </div>

   
   </div>
</div>


