<div class="container">

   <h2 class="text-secondary"> Yoga Poses for Beginner</h2>

   <div class="box-container">

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>

      <div class="box">
         <div class="image">
          <a href="/views/gallery.hbs">
            <img src="/static/images/asan_1.jpg" alt="">
          </a>
         </div>
      </div>
   </div>

   <div id="load-more"> load more </div>
</div>